<div class="grid-container">
  <!-- Première ligne -->
  <div class="grid-item">
    <div class="stat-card">
      <div class="icon-wrapper">
        <mat-icon>access_time</mat-icon>
      </div>
      <div class="stat-value">357mins</div>
    </div>
  </div>
  <div class="grid-item grid-item-span-2">
    <div class="stat-card-long">
      <div class="icon-wrapper">
        <mat-icon>grade</mat-icon>
      </div>
      <div class="stat-title">Allure moyenne</div>
      <div class="stat-value">5 km / jours</div>
    </div>
  </div>

  <!-- Deuxième ligne -->
  <div class="grid-item grid-item-span-2">
    <div class="stat-card-long">
      <div class="icon-wrapper">
        <mat-icon>local_fire_department</mat-icon>
      </div>
      <div class="stat-value">35893</div>
      <div class="stat-label">Calories brûlées</div>
    </div>
  </div>
  <div class="grid-item">
    <div class="stat-card">
      <div class="icon-wrapper">
        <mat-icon>speed</mat-icon>
      </div>
      <div class="stat-value">17km/h</div>
    </div>
  </div>

  <!-- Troisième ligne -->
  <div class="grid-item">
    <div class="stat-card">
      <div class="icon-wrapper">
        <mat-icon>place</mat-icon>
      </div>
      <div class="stat-value">22km</div>
    </div>
  </div>
  <div class="grid-item grid-item-span-2">
    <div class="stat-card-long">
      <div class="icon-wrapper">
        <mat-icon>fitness_center</mat-icon>
      </div>
      <div class="stat-value">7</div>
      <div class="stat-label">Courses effectuées</div>
    </div>
  </div>
</div>
